/*This sets the background color for our comic page*/

html body {
    background-color: white;
}


/*These IDs are for the invisible divs that will hold our comic together*/

#page {
    height: 100%; 
    width: 1040px;
    margin-right: auto;
    margin-left: auto;
}

#titleblock {
    height: 160px; 
    width: 800px;
    padding-left: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}


/*These are the text styles for the headline and byline*/

h1 {
    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: 900;
    font-size: 45px;
    color: #2b2b2b;
}

h2 {
    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    color: #2b2b2b;
}

/*These IDs are for the panels that will make up our comic.*/

#panel1 {
    position:relative;
    height: 700px;
    width: 500px;
    border:10px solid white;
    float: left;
    background-color: white;
    overflow: hidden;
}

#panel2 {
    position:relative;
    height: 270px;
    width: 500px;
    border:10px solid white;
    float: left;
    background-color: white;
    overflow: hidden;
}

#panel3 {
    position:relative;
    height: 220px;
    width: 500px;
    border:10px solid white;
    float: left;
    background-color: white;
    overflow: hidden;
}

#panel4 {
    position:relative;
    height: 200px;
    width: 500px;
    border:10px solid white;
    float: left;
    background-color: white;
/*    overflow: hidden;
*/}

#panel5 {
    position:relative;
    height: 800px;
    width: 400px;
    border:5px solid white;
    float: left;
    background-color: white;
    overflow: hidden;
}

#panel6 {
    position:relative;
    height: 800px;
    width: 300px;
    border:5px solid white;
    float: left;
    background-color: white;
/*    overflow: hidden;
*/}

#panel7 {
    position:relative;
    height: 800px;
    width: 310px;
    border:5px solid white;
    float: left;
    background-color: white;
    overflow: hidden;
}

/*These classes are for the different text styles we will be using in the comic*/

.narration {
    font-family: "Comic Sans MS";
    font-style: italic;
    font-weight: 900;
    font-size: 15px;
    padding: 15px;
    color: black;
    margin: 10px;
/*    background-color: white;
*/}

.bigtext {
    font-family: "Comic Sans MS";
    color: black;
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    line-height: 100%;
    margin: 20px;
    text-shadow:2px 2px #2b2b2b;
}

/* These classes can position text and images within the panel.*/

.left {
    position:absolute;
    left: 0;
}

.right {
    position:absolute;
    right: 0;
}

.top {
    position:absolute;
    top: 0;
}

.bottom {
    position:absolute;
    bottom: 0;
}

  
/*These ids can be used to fit specific images into our panels*/

#image1 {
    position: absolute;
    width:100%;
/*    top: -50px
*/}

#image2 {
    position: absolute;
    height:100%;
}

#image3 {
    position: absolute;
    width:100%;
}

#image4 {
    position: absolute;
    width:100%;
/*    top: -90px;*/
}

#image5 {
    position: absolute;
    height:100%;
/*    left:-30px;    
*/}

#image6 {
    position: absolute;
    height:100%;
/*    left:-30px;  */  
}

#image7 {
    position: absolute;
    height:100%;
    width:100%;
/*    left:-30px;  */  
}

/*These classes are for stacking or ordering elements on top of eachother.*/

.inback {
    z-index: 1;
}

.inmiddle {
    z-index: 2;
}

.infront{
    z-index: 3;
}

